@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
	@*this enables authentication throught the app*@

	<Router AppAssembly="@typeof(Program).Assembly">

		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

				<NotAuthorized>
					<h1 class="alert-info">Access denied.</h1>
					<p class="alert-primary">You don't have permission to enter this page.</p>
				</NotAuthorized>

				<Authorizing >
					<p class="alert-info">
						Please wait...
					</p>
				</Authorizing>

			</AuthorizeRouteView>
		</Found>

		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>

	</Router>

</CascadingAuthenticationState>
